<div id="shopify-block-1575957009345749421" class="shopify-block shopify-app-block">
    <div id="stamped-reviews-widget"\
     data-widget-type="drawer"
     data-show-avatar="true"
     data-position="left"
     data-text=""
     data-title=""
     data-link=""
     data-link-text=""
     data-background-color=""
     data-style-color-button-text=""
     data-style-color-star="#333333"
     data-style-color-text=""
     data-style-color-link=""
     data-review-ids=""
     data-product-ids=""
     data-product-category=""
     data-product-brand=""
     data-tags=""
     data-limit-words=""
     data-fill-empty="false"
     data-random="false"
     data-with-photos="false"
    ></div>
</div>