{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY GITHUB.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Github is used to create an automated theme deployment pipeline for Shopify,
//    it is used to provide version control, theme testing and reliable deployment environments.
//
//    If you need to modify this file, please contact Juno eCommerce.
{%- endcomment -%}

    {%- assign button_text = 'customer.login_page.forgot_password' | t -%}
    {%- render 'object_button', 
        theme: 'text', 
        type: 'button', 
        class: "js-show-recover-password  o-button--full"
        text: button_text
    -%}
{% form 'recover_customer_password', class: 'c-form  js-form  js-password-recover  is-hidden', id: 'RecoverPasswordForm' %}

    <header class="c-form__header">
        <h2 class="t-size--h6   u-mb-8">
            {{ 'customer.recover_password.title' | t | capitalize }}
        </h2>

        <p>
            {{ 'customer.recover_password.subtext' | t }}
        </p>
    </header>

    <section class="c-form__fields">
        {%- if form.errors -%}
            <div class="c-form__field  c-form__field--error  t-size--h9  u-mb-24">
                {% render 'object_icon', icon: "error-circle", class: "o-icon--error" %}
                {{ form.errors | default_errors | strip_html }}
            </div>
        {%- endif -%}

        {%- assign placeholder = 'customer.recover_password.email' | t | append: '*' -%}
        {%- render 'object_input',
            type: 'email',
            name: 'customer[email]',
            placeholder: placeholder,
            attributes: 'required autocomplete="email"',
            error: error_message,
            class: "u-mb-24"
        -%}
        
        {%- assign button_text = 'customer.login_page.submit' | t -%}
        {%- render 'object_button',
            type: 'submit',
            theme: 'primary',
            text: button_text,
            attributes: 'name="submitted" value="Send"',
            class: 'o-button--full  u-mb-8'
        -%}

        {%- capture button_text -%}{{ 'customer.login_page.cancel' | t }}{%- endcapture -%}
        {%- render 'object_button',   
            theme: 'secondary',   
            text: button_text
            class: 'o-button--full js-password-recover-cancel'
        -%}

    </section>
{% endform %}