{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY GITHUB.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Github is used to create an automated theme deployment pipeline for Shopify,
//    it is used to provide version control, theme testing and reliable deployment environments.
//
//    If you need to modify this file, please contact Juno eCommerce.
{%- endcomment -%}

<dialog class="c-model  js-model" data-type="storefront">
    <header class="c-form__header  u-mb-8  t-font-align--center">
        <h2 class="t-font-size--zeta">
            {{ 'general.password_page.login_form_heading' | t | capitalize }}
        </h2>

        <p>
            {{ 'customer.login_page.description' | t | capitalize }}
        </p>
        <button class="o-button  o-button--close  o-button--close-alt  js-model-close"  data-type="storefront">
            {% render 'object_icon', icon: "cross", class: "o-icon--cross"  %}
        </button>
    </header>
    {%- form 'storefront_password', class: 'c-form', id: 'storefront-password' -%}

        <section class="c-form__fields  c-form__fields--inline">
            {%- assign placeholder = 'general.password_page.login_form_password_placeholder' | t -%}
            {%- render 'object_input',
                type: 'password',
                name: 'password',
                placeholder: placeholder,
                attributes: 'required autocomplete="current-password"',
                error: error_message,
                class: "u-mb-0  u-mr-8"
            -%}

            {%- capture button_text -%}{{ 'general.password_page.login_form_submit' | t }}{%- endcapture -%}
            {%- render 'object_button',
                type: 'submit',
                theme: 'primary',
                text: button_text,
                attributes: 'name="submitted" value="Send"'
            -%}
        </section>

        <footer class="t-font-align--center  u-mt-32 ">
            {{ "general.password_page.admin_link_html" | t }}
        </footer>
    {%- endform -%}
  
</dialog>