{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY GITHUB.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Github is used to create an automated theme deployment pipeline for Shopify,
//    it is used to provide version control, theme testing and reliable deployment environments.
//
//    If you need to modify this file, please contact Juno eCommerce.
{%- endcomment -%}

<aside class="c-model  c-model--drawer  js-model  -is-active" data-type="currency">

    <header class="c-model__header">
        <h3 class="c-model__header-title  t-font-size--eta  t-font-weight--700">
           Select currency
        </h3>
        <button class="c-button  c-button--close  js-model-close">
            {% render 'object_icon', icon: "cross" %}
        </button>
    </header>

    <section
        class="c-model__form"
    >
        
    </section>

</aside>
