{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY GITHUB.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Github is used to create an automated theme deployment pipeline for Shopify,
//    it is used to provide version control, theme testing and reliable deployment environments.
//
//    If you need to modify this file, please contact Juno eCommerce.
{%- endcomment -%}

<div class="c-product__add-note">
    <div class="c-product__add-note--checkbox">
        {% render 'object_icon', icon: 'check' %}
    </div>

    <div class="c-product__add-note--text">
        {{ 'products.product.add_note' | t }}
    </div>
</div>