{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY GITHUB.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Github is used to create an automated theme deployment pipeline for Shopify,
//    it is used to provide version control, theme testing and reliable deployment environments.
//
//    If you need to modify this file, please contact Juno eCommerce.
{%- endcomment -%}

{% if section.settings.width == 'full' %}
  {% assign is_contained = 'o-container--full' %}
{% else %}
  {% assign is_contained = 'o-container--box' %}
{% endif %}

<product-component class="o-container  c-product__inner o-container--box">
  {% comment %} <div class="mobile-title">
    {% render 'product_mbheader' %}
  </div> {% endcomment %}
  {% render 'product_images' %}
  {% render 'product_sidebar' %}

  {% if product.type != 'Gift Cards' %}
    {% render 'product_details' %}
  {% endif %}
</product-component>