<div class="o-row" style="--row: 50px;"></div>
<div class="o-row">
    <div class="o-container">
        <article class="c-account-login">
            {% render 'form_activate_customer_password' %}
        </article>
    </div>
</div>
<div class="o-row" style="--row: clamp(60px, 11vw, 160px);"></div>
