<section class="o-container  o-container--short  o-grid  o-grid--wrap  u-pt-32  u-pb-32">
    <header  class="o-grid__item">
        <h1 class="t-size--h4  t-align--center">
            {{ 'customer.recover_password.title' | t }}
        </h1>
    </header>

    <div class="o-grid__item  o-grid__item--half@desk">
       {% render 'form_reset-password' %}
    </div>

</section>

