{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY GITHUB.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Github is used to create an automated theme deployment pipeline for Shopify,
//    it is used to provide version control, theme testing and reliable deployment environments.
//
//    If you need to modify this file, please contact Juno eCommerce.
{%- endcomment -%}

<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
        {%- liquid
            render 'theme_meta'
            echo content_for_header
            render 'theme_head', layout: 'theme'
        -%}
    </head>

    <body class="js-page" itemscope itemtype="http://schema.org/WebPage">
        {{ settings.body_scripts }}

        <a class="sr-only" href="#MainContent">
            {{ "accessibility.skip_to_text" | t }}
        </a>

        {% section 'main-password-header' %}

        <main role="main" tabindex="-1">
            {{ content_for_layout }}
        </main>

        {% render 'model_storefront-password' %}
        <div class="c-model__overlay  js-overlay"></div>
    </body>
</html>
